//$body-color: #ffffff;
//$body-bg: #141414;
$body-bg-dark: #191d21;
$body-color-dark: #ffffff;

$card-bg: #212529;
$card-border-color: #3C4044;

body {
  --background-color: #191d21;
  --navbar-bg-color: #0f1113;
  --navbar-fg-color: #ffffff;

  --bs-card-bg: #212529;
}
