#logging
logging.level.org.springframework.data=debug
logging.level.=error

#security
#cors origin for angular frontend
app.cors.origin=http://localhost:4200

#database
spring.datasource.url=jdbc:sqlserver://localhost;encrypt=true;trustServerCertificate=true;databaseName=Eveworkbench-AssetTracker-Dev
spring.datasource.username=sa
spring.datasource.password=password

#jpa
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql = true
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.SQLServerDialect
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=update

#eve application
esi.clientid=
esi.clientsecret=
esi.callbackUrl=
esi.scopes=esi-wallet.read_character_wallet.v1 esi-assets.read_assets.v1